<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">

        <section class="page__wrapper">
            <header>
                <div class="menu"></div>
            </header>
            <section class="welcome-section">
                <div class="section-title">100 kleuren kiezer</div>
                <div class="content">
                    <img src=/static/img/content/pack/colours-of-nature-11240321.jpg" alt="hema">
                </div>
                <div class="section-footer">
                    <img src="/static/img/content/Logo.svg" alt="hema">
                    <img src="/static/img/content/Logo.svg" alt="hema">
                </div>
            </section>
            <section class="color-picker-section"></section>
            <section class="prod-picker-section"></section>
        </section>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>